body{
    background: #000000;
    background: linear-gradient(135deg, #000000 0%, #2A2F84 25%, #191F47 31%, #2A2F84 95%,#000000 100%);

}

img{
    margin-top: 5%;
    margin-left: 37%;
    border: 9px double #000000;
    border-radius: 40px;
}

h1{
    text-align: center;
    font-family: serif;
font-size: 30px;
letter-spacing: 0px;
word-spacing: 3px;
color: #ebebf1;
font-weight: 900;
text-decoration: none;
}

h2{
text-align: center;
font-family: serif;
font-size: 20px;
letter-spacing: 0px;
word-spacing: 3px;
color: #f0f0f6;
font-weight: 900;
text-decoration: none;
}
p{
    padding: 5%;
    color: rgb(246, 237, 237);
}
address{
    padding: 5%;
    color: rgb(230, 214, 214);
}